@model IEnumerable<DataUser>;
<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "TableData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include DataTables CSS and JS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            font-family: "Roboto", sans-serif;
            color: black;
        }

        .w3-bar-block .w3-bar-item {
            padding: 16px;
            font-weight: bold;
        }

        thead {
            padding: 30px;
        }

        .zoom {
            transition: transform .2s;
            width: 320px; /*300px*/
            height: 320px; /*300px*/
            margin: 0 auto;
        }

            .zoom:hover {
                transform: scale(5.5);
            }
    </style>

</head>
<body>
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:240px;background:white;" id="mySidebar">
        <span class="w3-bar-item w3-border-bottom w3-large">Admin</span>
        <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>

        <a class="w3-bar-item w3-button" href="@Url.Action("Index","Home")">หน้าแรก</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("CourseCsAdmin","Admin")">หลักสูตรวิทย์คอม</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("CourseTraAdmin","Admin")">หลักสูตรปวส.</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("TransferCourse","Admin")">เทียบโอนหลักสูตร</a>
        <a class="w3-bar-item w3-button w3-pale-blue">ตารางข้อมูลนักศึกษา</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("ViewImage","Admin")">ทรานสคริปต์</a>
    </nav>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:250px;">

        <header class="w3-container" style="padding:26px 32px">
            <center><h1 class="w3-xxxlarge">ตารางข้อมูลนักศึกษา</h1></center>
        </header>
       
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>รหัสนักศึกษา</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>อิเมล</th>
                    <th>ทรานสคริปต์</th>

                    <th>เทียบโอนวิชา</th>
                    <th>ลบ</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var DataUser in Model)
                {
                    <tr>
                        <td>@DataUser.Transcode</td>
                        <td>@DataUser.FirstName</td>
                        <td>@DataUser.LastName</td>
                        <td>@DataUser.Email</td>
                        <td>
                            @if (DataUser.FileContent != null && DataUser.FileContent.Length > 0)
                            {
                                <img class="zoom" src="data:@DataUser.FileName;base64,@Convert.ToBase64String(DataUser.FileContent)" style="width:100px;height:100px;" ALIGN="middle" />

                            }
                        </td>

                        <td>
                            <center>
                                <a class='btn @(DataUser.HaveTranfer?"btn-success":" btn-warning") ' asp-controller="Admin"
                               asp-action="StudyResult"
                                   asp-route-id="@DataUser.Id">เทียบโอน</a>
                            </center>
                        </td>

                        <td>
                            <a class="btn btn-danger" asp-controller="Admin"
                               asp-action="DeleteUser"
                               asp-route-id="@DataUser.Id" onclick="return confirm('คุณต้องการจะลบ @DataUser.Transcode @DataUser.FirstName @DataUser.LastName')">ลบ</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    // Open and close the sidebar on medium and small screens
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Change style of top container on scroll
    window.onscroll = function () { myFunction() };
    function myFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
            document.getElementById("myIntro").classList.add("w3-show-inline-block");
        } else {
            document.getElementById("myIntro").classList.remove("w3-show-inline-block");
            document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
        }
    }

    // Accordions
    function myAccordion(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme", "");
        }
    }


</script>
