@page
 @model ProjectFinal1.Areas.Identity.Pages.Account.ImageModel
<html lang="en">
@{
    ViewData["Title"] = "Image";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include DataTables CSS and JS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            font-family: "Roboto", sans-serif;
            color: black;
        }

        .w3-bar-block .w3-bar-item {
            padding: 16px;
            font-weight: bold;
        }

        thead {
            padding: 30px;
        }
        .form-control{
            text-align:left;
        }
    </style>

</head>
<body>
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:240px;background:white;" id="mySidebar">
        <span class="w3-bar-item w3-border-bottom w3-large">User</span>
        <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>

        <a class="w3-bar-item w3-button" href="@Url.Action("Index","Home")">หน้าหลัก</a>
        <a class="w3-bar-item w3-button w3-pale-blue">อัพโหลดไฟล์</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("FullCourseCs","Home")">หลักสูตรวิทย์คอม</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("CourseTra","Home")">หลักสูตรปวส.</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("TransResult","Home")">ผลการเทียบโอน</a>
    </nav>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:250px;">
        <center>
            <header class="w3-container" style="padding:26px 32px">
                <h1 class="w3-xxlarge">อัพโหลดไฟล์</h1>
            </header>

            <div class="col-md-4">
                <form method="post" enctype="multipart/form-data">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (!string.IsNullOrEmpty(Model.FileName1))
                    {
                        <a class="form-control" href="/admin/PdfView?fileName=@Model.FileName1&userName=@Model.Username" target="_blank">ทรานสคริปต์: @Model.FileName1</a>

                        <br />
                    }
                    @if (!string.IsNullOrEmpty(Model.FileName2))
                    {
                        <a class="form-control" href="/admin/PdfView?fileName=@Model.FileName2&userName=@Model.Username" target="_blank">เล่มหลักสูตรที่จบ: @Model.FileName2</a>

                        <br />
                    }
                
                     
                    <div class="form-group">
                        <label class="control-label">ไฟล์ทรานสคริปต์</label><br><br>
                        <input type="file" name="file1" id="file1" class="custom-file-input form-control" accept="application/pdf" />
                    </div><br>

                    <div class="form-group">
                        <label class="control-label">เล่มหลักสูตรที่จบ</label><br><br>
                        <input type="file" name="file2" id="file2" class="custom-file-input form-control" accept="application/pdf" />
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </center>
    </div>
    
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
